<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-toolbar color="primary">Course Details</mat-toolbar>

      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <app-multiselect-chips
        *ngIf="allCourses$ | async let allCourses"
        [chips]="courses"
        (update)="onUpdate($event)"
        [allChips]="allCourses"
        [title]="'Courses'"
      ></app-multiselect-chips>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
